# Copy this file to .env and update the values below

# Application Settings
APP_NAME="Prince Lawrence Dimaapi - LavaLust Labs"
APP_KEY=
APP_ENV=development
APP_URL=http://localhost/prince-lawrence-dimaapi-lavalust/

# Lab 3 Student Information
STUDENT_ID=
STUDENT_COURSE="BS Information Technology"
STUDENT_YEAR_LEVEL=
STUDENT_SECTION=
STUDENT_EMAIL=

# Database Configuration
DB_DRIVER=mysql
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_SSL_CA=
DB_SSL_CA_CONTENT=
DB_CHARSET=utf8mb4

# Lab 5 Authentication
AUTH_USERNAME=admin
AUTH_PASSWORD=
